@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.placeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.placeDetail {
    width: 400px;
    margin: 30px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.placeThumbnail {
    width: 300px;
}